body {
    background: black url(images/wild_oliva.png);
}

h2 { color: #E6BF27; }
h3 { color: #A6E067; }

.editor-position {
    margin-left: 20px;
    overflow: hidden;
}

.editor {
    width: 100%;
    height: 600px;
}

.action-paint { cursor: crosshair; }
.action-pan { cursor: move; }

.palette-position {
    width: 360px;
    float: right;
    overflow: auto;
    margin: 0px 20px;
}

.top-right {
    position: absolute;
    left: 100%;
    top: 10px;
    margin-left: -50px;
}

.palette .tool { border: solid 2px transparent; width: auto; height: auto; }
.palette .tool.selected { border-color: red; }
.palette .tool-inner { cursor: pointer; }

.text-column {
    margin-top: -20px; /* Compensate bottom margin of the navbar */
    padding-top: 20px; /* Compensate top margin of the h2 */
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background: #454444;
    color: #EEEEEE;
    border: solid 1px #595757;
    border-top: 0px;
    box-shadow: 0px 0px 5px #111;
}

.panel {
    background: transparent;
    border: solid 1px #595757;
    box-shadow: 0px 0px 5px #111;
    background: #454444;
}

.panel-heading {
    border-bottom: solid 1px #595757;
    background: #383737;
}

.panel-fitting {
    padding: 0px;
}

.dark-input, .input-group-addon {
    background: #383737 !important;
    color: #DDD;
    border-color: #777;
}

.navbar-inverse .navbar-btn {
    background: #383737 !important;
    color: #DDD;
    border-color: #777;
}

.navbar-inverse .caret {
    border-top-color: #DDD !important;
    border-bottom-color: #DDD !important;
}

.navbar-inverse .btn-group.open .navbar-btn { color: #FFF; }

.url-button { overflow: hidden; text-overflow: ellipsis; }

textarea { font-family: Consolas, Monaco, monospace; }

 /* Disable responsiveness on navbar (always float) */
.navbar-header { float; left; }
.navbar-header:after { clear: none; }
.navbar-nav { float: left; }
.navbar-nav>li { float: left; }
.navbar-right { float: right; }

/*----------------------- FACEBOOK BUTTON ----------------------*/
.btn-facebook {
  background-color: #246ec4;
  border-color: #246ec4;
  color: #ddd;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
  background-color: #2062ae;
  border-color: #1c5699;
  color: white;
}
.btn-facebook.disabled:hover,
.btn-facebook.disabled:focus,
.btn-facebook.disabled:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled]:hover,
.btn-facebook[disabled]:focus,
.btn-facebook[disabled]:active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook:hover,
fieldset[disabled] .btn-facebook:focus,
fieldset[disabled] .btn-facebook:active,
fieldset[disabled] .btn-facebook.active {
  background-color: #246ec4;
  border-color: #246ec4;
}

